/* ============================================================
   Styles additionnels pour les boutons
   ============================================================ */

@use "sass:color";
@use "variables";

.btn {
  border-radius: 25px;
  padding: 0.75rem 1.2rem;
  font-weight: 500;
  transition: variables.$transition;

  &.btn-primary {
    background-color: variables.$primary-color;
    color: variables.$color-006;
    border: none;

    &:hover {
      background-color: color.adjust(variables.$primary-color, $lightness: -8%);
    }
  }

  &.btn-outline-primary {
    border: 2px solid variables.$primary-color;
    color: variables.$primary-color;
    background: transparent;

    &:hover {
      background-color: variables.$primary-color;
      color: variables.$color-006;
    }
  }
  &:hover,
  &:focus {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}
