@use "variables";

.card {
  border-radius: variables.$radius;
  overflow: hidden;
  box-shadow: variables.$shadow;
  border: none;
  transition: all 0.3s ease;

  img {
    height: 200px;
    object-fit: cover;
  }

  .card-body {
    text-align: center;

    .card-title {
      color: variables.$primary-color;
      font-weight: 600;
    }

    .card-text {
      color: #555;
      font-size: 1rem;
      line-height: 1.7;
      text-align: justify;
    }
  }

  .card-footer {
    background: transparent;
    border: none;
  }

  .btn {
    border-radius: 25px;
  }
}
