@use "sass:map";
@use "variables";

footer {
  background-color: variables.$primary-color;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;

  p {
    margin-bottom: 0.5rem;
  }

  small {
    display: block;
    font-size: 0.95rem;
  }

  @media (max-width: #{map.get(variables.$bp, md)}) {
    font-size: 1rem;
  }
}
