/* ============================================================
   Styles spécifiques de l’en-tête (header)
   ============================================================ */

@use "sass:map";
@use "variables";

header.navbar {
  background-color: variables.$primary-color;
  box-shadow: variables.$shadow;

  .navbar-brand {
    font-weight: 700;
    color: variables.$color-006;
    font-size: 1.5rem;
  }

  .nav-link {
    color: variables.$color-006;
    margin-right: 0.5rem;
    transition: 0.2s;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: #{map.get(variables.$bp, md)}) {
    .nav-link {
      text-align: center;
      margin: 0.3rem 0;
    }
  }
}
