/* ============================================================
   Règles d’affichage des images
   ============================================================ */

@use "sass:map";
@use "variables";

.service-image-wrapper img,
.card-img-top {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

@media (max-width: #{map.get(variables.$bp, md)}) {
  .service-image-wrapper img,
  .card-img-top {
    height: 180px;
  }
}

.news-image {
  text-align: center;

  img {
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}
