$primary-color: #1976d2;
$secondary-color: #42a5f5;
$accent-color: #90caf9;

$light-gray: #f8f9fa;
$dark-gray: #343a40;

$radius: 15px;
$shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

$font-family: "Poppins", sans-serif;
$transition: all 0.3s ease;

// $bp-sm: 576px;
// $bp-md: 768px;
// $bp-lg: 992px;
// $bp-xl: 1200px;

// === BREAKPOINTS ===
$bp: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
