@use "sass:color";
@use "variables";
@use "breakpoints";
@use "mixins";
@use "typography";
@use "layout";
@use "cards";
@use "buttons";
@use "header";
@use "footer";
@use "forms";
@use "images";
@use "tables";

// Styles globaux
body {
  font-family: variables.$font-family;
  background-color: #f9fbfd;
  color: #333;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: variables.$primary-color;
  font-weight: 600;
}
