/* ============================================================
   Point d’entrée SCSS – imports des partiels
   ============================================================ */

@use "sass:color";
@use "variables";
@use "breakpoints";
@use "mixins";
@use "typography";
@use "layout";
@use "cards";
@use "buttons";
@use "header";
@use "footer";
@use "forms";
@use "images";
@use "tables";

// Styles globaux
body {
  font-family: variables.$font-family;
  background-color: variables.$color-005;
  color: variables.$color-001;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: variables.$primary-color;
  font-weight: 600;
}
